
/* View das tasks */

/* Tasks em caixas linhas 3 tasks */
.task-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 coluna */
    gap: 20px;
    padding: 20px 0;
}

.task {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botão de criar tarefa */
.create-task-wrapper {
    text-align: right;
    margin-bottom: 20px;
}

.create-task-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.create-task-btn:hover {
    background-color: #45a049;
  }

/* Mensagem de "Nenhuma tarefa encontrada" */
.task-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    font-weight: bold;
}

/* Form criar task */

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* ocupa toda a tela */
  }
  
  .task-form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .task-form .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .task-form label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .task-form input,
  .task-form textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .task-form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .task-form button:hover {
    background-color: #45a049;
  }
  
/* Botão voltar para home */

.back-button {
    display: inline-block;
    color: #555;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .back-button:hover {
    color: #000;
  }
  